.DS_Store
Planning Docs/.DS_Store
Planning Docs/Examples/.DS_Store
Planning Docs/Examples/Screen Shot 2015-06-21 at 3.47.56 pm.png
Planning Docs/Examples/Screen Shot 2015-06-21 at 3.59.45 pm.png
Planning Docs/Examples/Screen Shot 2015-06-21 at 3.59.53 pm.png
Planning Docs/Examples/Screen Shot 2015-06-21 at 3.59.59 pm.png
Planning Docs/Examples/Screen Shot 2015-06-21 at 4.01.57 pm.png
Planning Docs/Examples/Screen Shot 2015-06-21 at 4.02.06 pm.png
Planning Docs/Examples/Screen Shot 2015-06-21 at 4.20.40 pm.png
Planning Docs/Examples/Screen Shot 2015-06-21 at 4.20.52 pm.png
Planning Docs/Examples/Screen Shot 2015-06-21 at 4.21.33 pm.png
Planning Docs/Examples/Screen Shot 2015-06-21 at 4.29.24 pm.png
Planning Docs/Examples/Screen Shot 2015-06-21 at 4.30.23 pm.png
Planning Docs/Examples/Screen Shot 2015-06-21 at 4.30.38 pm.png
Planning Docs/Examples/Screen Shot 2015-06-22 at 3.24.17 pm.png
Planning Docs/Examples/Screen Shot 2015-06-22 at 3.24.26 pm.png
Alexander Piatgorsky - mock up site.pdf
Alexander Piatgorsky.indd
Alexander Piatgorsky.pdf
Planning Docs/Examples/mixed site.pdf
Planning Docs/Screen Shot 2015-07-07 at 10.02.52 am.png
Planning Docs/Screen Shot 2015-07-07 at 10.02.52 am.psd
Planning Docs/Screen Shot 2015-07-07 at 10.48.48 am.png
Planning Docs/Screen Shot 2015-07-07 at 7.46.22 pm.png
Planning Docs/Screen Shot 2015-07-07 at 7.51.51 pm.jpg
Planning Docs/Screen Shot 2015-07-07 at 7.51.51 pm.png
Planning Docs/ap-bw.jpg
~alexander piatgors~06_vja.idlk