body {
	max-width: 1200px;
	margin: 0 auto;
	font-family: 'Lato', sans-serif;
}

.flex-container {
	display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;  
  
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  
  font-weight: bold;
  text-align: center;
}

#header {
	flex: 1 100%;
}

#main-header {
	flex:1;
}

.navigation {
	text-align: left;
}

.nav-menu {
	list-style: none;
  margin: 0;
  background: white;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
    -webkit-flex-flow: row wrap;
  justify-content: flex-end;
  justify-text: center;
  order: 2;
  flex:4;
}


.nav-menu  a {
  text-decoration: none;
  display: block;
  padding: 1em;
  color: black;
}

.nav-menu a:hover {
  background: #DCDCDC;
  color: white;	
}

#hero-title {
  display: inline-block;
  vertical-align: middle;  /* vertical alignment of the inline element */
}

.videoContainer {
    position: relative;
    height: 100%;
    width: 100%;
    overflow: hidden;
    text-align: center;
}

#hero-video:before {    /* create a full-height inline block pseudo=element */
    content: ' ';
    display: inline-block;
    vertical-align: middle;  /* vertical alignment of the inline element */
    height: 100%;
}

.videoContainer video {
    min-width: 100%;
    min-height: 100%;
    filter: grayscale(100%);
    opacity: 0.4;
    z-index: 50;
}

@media all and (max-width: 800px) {
  .nav-menu {
    justify-content: space-around;
  }
}

@media all and (max-width: 600px) {
  .nav-menu {
    -webkit-flex-flow: column wrap;
    flex-flow: column wrap;
    padding: 0;
  }
  
  .nav-menu a { 
    text-align: center; 
    padding: 10px;
    border-top: 1px solid rgba(255,255,255,0.3); 
    border-bottom: 1px solid rgba(0,0,0,0.1); 
  }
  
  .nav-menu li:last-of-type a {
    border-bottom: none;
  }
}
